{% extends "base.html.twig" %}

{% block title %}Admin{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1>Les équipes de cette semaine</h1>
        </div>
        {% if nextGame is not empty and nextGame.teams is not empty %}
            {% for team in nextGame.teams %}
                <div class="col-sm-6">
                    <h2>Équipe {{ loop.index }}</h2>
                    <ul>
                        {% for player in team.players %}
                            <li>{{ player.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-sm-12">
                <h2><em>Pas encore d'équipe créée.</em></h2>
            </div>
        {% endif %}
    </div>
{% endblock %}
