{% extends "base.html.twig" %}

{% block title %}Admin{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1>Administration</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            {% if nextGame is not empty %}
            <h2>Prochain match : {{ nextGame.date|date('d/m/Y') }}</h2>
            <h3><em>Générer les équipes</em></h3>
            {% else %}
            <h2>Créer un match</h2>
            {{ form(newGameForm) }}
            {% endif %}
        </div>
        <div class="col-sm-6">
            <h2>Gérer les inscrits</h2>
        </div>
    </div>
{% endblock %}
