{% extends "base.html.twig" %}

{% block title %}Admin{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1>Amundi FC</h1>
        </div>
        <div class="col-sm-6">
            {% if nextGame is not empty %}
                <h2>Inscris-toi pour le {{ nextGame.date|date('d/m/Y') }} !</h2>
                {{ form(form) }}
            {% else %}
                <h3><em>Pas de prochain match prévu pour le moment.<em></h3>
            {% endif %}
        </div>
        <div class="col-sm-6">
            {% if nextGame is not empty %}
                <h2>Les inscrits</h2>
            {% endif %}
        </div>
    </div>
{% endblock %}
