{% extends "base.html.twig" %}

{% block title %}Inscris-toi !{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1>Inscriptions pour les prochains matchs</h1>
            {% if nextGame is not empty %}
                {% if nextGame.isFull %}
                <h3>Désolé, le prochain match est complet.</h3>
                {% else %}
                    <hr>
                {{ form(form) }}
                {% endif %}
            {% else %}
                <h3>Pas de prochain match prévu pour le moment.</h3>
            {% endif %}
            
            {% if nextGame is not empty %}
                <hr/>
                {% set team1 = nextGame.teams.first %}
                {% set team2 = nextGame.teams.next %}
                {% set countTeam1 = 0 %}
                {% set countTeam2 = 0 %}
                {% if team1 is not empty %}
                    {% set countTeam1 = team1.players.count %}
                {% endif %}
                {% if team2 is not empty %}
                    {% set countTeam2 = team2.players.count %}
                {% endif %}
                <h3>Les inscrits pour le {{ nextGame.date|date('d/m/Y') }} ({{ countTeam1 ~ ' vs ' ~ countTeam2 }})</h3>
                <div class="player-list">
                {% for team in nextGame.teams %}
                    {% set loopTeams = loop %}
                    {% if loopTeams.index == 2 %}
                    <hr/>
                    {% endif %}
                    <div class="field-team">
                        {% include 'enroll/player_position.html.twig' %}
                    </div>
                {% endfor %}
                </div>
                <em>Les positions, c'est juste pour faire joli (pour l'instant).</em>
            {% endif %}
        </div>
    </div>
{% endblock %}
