{% extends "base.html.twig" %}

{% block title %}Inscris-toi !{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1>Inscriptions pour le prochain match</h1>
            {% if nextGame is not empty %}
                {% if nextGame.isFull %}
                <h3>Désolé, le prochain match est complet.</h3>
                {% else %}
                <h3>Inscris-toi pour le {{ nextGame.date|date('d/m/Y') }} !</h3>
                {{ form(form) }}
                {% endif %}
            {% else %}
                <h3>Pas de prochain match prévu pour le moment.</h3>
            {% endif %}
            
            {% if nextGame is not empty %}
                <hr/>
                <h3>Les inscrits</h3>
                <div class="player-list">
                {% for team in nextGame.teams %}
                    {% if loop.index == 2 %}
                        <hr/>
                    {% endif %}
                    <ul>
                        {% for player in team.players %}
                            <li>{{ player.name }}</li>
                        {% endfor %}
                    </ul>
                {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
