{% extends "base.html.twig" %}

{% block title %}Admin{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1>Inscriptions pour le prochain match</h1>
        </div>
        <div class="col-sm-6">
            {% if nextGame is not empty %}
                <h2>Inscris-toi pour le {{ nextGame.date|date('d/m/Y') }} !</h2>
                {{ form(form) }}
            {% else %}
                <h3><em>Pas de prochain match prévu pour le moment.<em></h3>
            {% endif %}
        </div>
        <div class="col-sm-6">
            {% if nextGame is not empty %}
                <h2>Les inscrits</h2>
                {% for team in nextGame.teams %}
                    {% if loop.index == 2 %}
                        <hr/>
                    {% endif %}
                    <ul>
                        {% for player in team.players %}
                            <li>{{ player.name }}</li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
